<!--  desktop navigation -->
<nav class="navigation navigation--desktop absolute dn db-ns">
  <a class="brand white no-underline" href="#home">Escórpora</a>

  <nav class="menu">
    <a class="menu__link white no-underline" href="#artists">Artistas</a>
    <a class="menu__link white no-underline" href="#clients">Clientes</a>
    <a class="menu__link white no-underline" href="#about">Nosotros</a>
  </nav>
</nav>

<!--  mobile navigation -->
<nav class="navigation navigation--mobile absolute db dn-ns w-100 pl1.5 mb1.5 bottom-0 lh-solid">
  <a class="brand absolute white left-1.5 no-underline o-100" href="#home">Escórpora</a>

  <nav class="menu fl o-0">
    <a class="menu__link mr3 white no-underline" href="#artists">Artistas</a>
    <a class="menu__link mr3 white no-underline" href="#clients">Clientes</a>
    <a class="menu__link mr3 white no-underline" href="#about">Nosotros</a>
  </nav>

  <div class="menu-icon fr flex flex-column justify-between items-end">
    <div class="menu-icon__line"></div>
    <div class="menu-icon__line"></div>
    <div class="menu-icon__line"></div>
  </div>
</nav>
