<!--  mobile navigation -->
<nav class="navigation navigation--mobile db dn-ns order-0 w-100 pl4 mt4 pb2 bottom-0 lh-solid overflow-hidden">
  <a class="brand absolute white left-1.5 no-underline" href="#home">Escorpora</a>

  <nav class="menu fl">
    <a class="menu__link dib mr3 white no-underline" href="/">Artistes</a>
    <a class="menu__link dib mr3 white no-underline" href="#clients">Clients</a>
    <a class="menu__link dib mr3 white no-underline" href="/about">Nosaltres</a>
  </nav>

  <div class="menu-icon fr flex flex-column justify-between items-end">
    <div class="menu-icon__line"></div>
    <div class="menu-icon__line"></div>
    <div class="menu-icon__line"></div>
  </div>
</nav>
