<!--  desktop navigation -->
<nav class="navigation navigation--desktop dn flex-ns flex-none order-3 flex-column pt5 pr5 tr">
  <a class="brand white no-underline" href="#home">Escorpora</a>

  <nav class="menu flex flex-column items-end mt6 pt6">
    <a class="menu__link animated-link mb4 white no-underline" href="/">Artistes</a>
    <a class="menu__link animated-link mb4 white no-underline" href="#clients">Clients</a>
    <a class="menu__link animated-link mb4 white no-underline" href="/about">Nosaltres</a>
  </nav>
</nav>
