/* variable definitions http://cssnext.io/features/#custom-properties-var */

:root {
  /* typography */
  --font-sans-serif: 'Work Sans',
                     -apple-system,
                     BlinkMacSystemFont,
                     'Segoe UI',
                     Helvetica,
                     Arial,
                     sans-serif,
                     'Apple Color Emoji',
                     'Segoe UI Emoji',
                     'Segoe UI Symbol';
  --font-serif: 'CanelaLight',
                serif;

  /* type sizes */
  /* --fs-canela-mobile: 24px;
  --fs-canela-desktop: 40px;
  --fs-work-mobile: 18px;
  --fs-work-desktop: 24px; */

  --fs-canela-mobile: 22px;
  --fs-canela-desktop: 36px;
  --fs-work-mobile: 16px;
  --fs-work-desktop: 20px;

  /* colors */
  --black: #111;
  --white: #FFF;

  /* customizing tachyons */
  --spacing-none: 0;
  --spacing-extra-small: .25rem;
  --spacing-small: .5rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem; /* 24px – scale: 4 */
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 7.5rem; /* 120px – scale: 6 */
  --spacing-extra-extra-extra-large: 16rem;
}
