/* css imports */

@import "imports/tachyons/src/tachyons.css";
@import "imports/variables.css";

/* font imports */

@font-face {
  font-family: 'CanelaLight';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Canela-Light.woff2') format('woff2'),
       url('/fonts/Canela-Light.woff') format('woff'),
       url('/fonts/Canela-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Canela-Light.ttf') format('truetype'),
       url('/fonts/Canela-Light.svg') format('svg');
}

/* extending tachyons */

.top-1\.5 { top: 1.5rem; }
.right-1\.5 { right: 1.5rem; }
.bottom-1\.5 { bottom: 1.5rem; }
.left-1\.5 { left: 1.5rem; }

.content-box { box-sizing: content-box; }
.canela { font-family: var(--font-serif); }
.work { font-family: var(--font-sans-serif); }
.pause-cursor { cursor: url(/images/pause-icon.svg) 25 25, auto; }

.fs-sansserif {
  font-size: var(--fs-work-mobile);
  line-height: 1.2;

  @media (--breakpoint-not-small) {
    font-size: var(--fs-work-desktop);
    line-height: 1.2;
  }
}
.fs-serif {
  font-size: var(--fs-canela-mobile);
  line-height: 1.2;

  @media (--breakpoint-not-small) {
    font-size: var(--fs-canela-desktop);
    line-height: 1.2;
  }
}

/* global css */

body {
  background: var(--black);
  color: var(--white);
  font-family: var(--font-sans-serif);
  font-size: 1em;
  text-align: center;
}

.animated-link {
  position: relative;
}

.animated-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--white);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .9s cubic-bezier(.86,0,.07,1);
}
.animated-link:hover::after {
  transform: scaleX(1);
}

::selection {
  background: color(var(--red) alpha(99%));
}

/* artists list */

.artists {
  font-family: var(--font-serif);
  font-size: var(--fs-canela-mobile);
  line-height: 1;
  color: var(--white);
}

@media (--breakpoint-not-small) {
    .artists {
      font-size: var(--fs-canela-desktop);
      line-height: 1;
    }
}
.artists__item {
  position: relative;
}
.artists__item.is-blink::before {
  content: "";
  width: 12px;
  height: 12px;
  background: var(--red);
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: -17px;
  animation: rec 1.333s step-end infinite;
}
@media (--breakpoint-not-small) {
  .artists__item.is-blink::before {
    width: 18px;
    height: 18px;
    top: 5px;
    left: -30px;
  }
}
@keyframes rec {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/* navigation */

.brand {
  transition: 0.4s all ease;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.navigation {
  z-index: 20;
  font-family: var(--font-sans-serif);
}

.navigation--mobile {
  font-size: var(--fs-work-mobile);
  line-height: 20px;
}

.navigation--desktop {
  font-size: var(--fs-work-desktop);
  line-height: 1.2;
}

/* mobile menu */

.navigation--mobile {
  & .menu__link:nth-child(1) {
    transition: 0.4s all ease 0s;
    transform: translate3d(0, 2rem, 0);
    opacity: 0;
  }

  & .menu__link:nth-child(2) {
    transition: 0.4s all ease 0.10s;
    transform: translate3d(0, 2rem, 0);
    opacity: 0;
  }

  & .menu__link:nth-child(3) {
    transition: 0.4s all ease 0.15s;
    transform: translate3d(0, 2rem, 0);
    opacity: 0;
  }

  & .menu-icon {
    text-align: right;
    height: 20px;
    width: 32px;
  }

  & .menu-icon__line {
    height: 2px;
    background: var(--white);
    transition: 0.4s all ease;
  }

  & .menu-icon__line:nth-child(odd) {
    width: 2rem;
  }

  & .menu-icon__line:nth-child(even) {
    width: 1.5rem;
  }
}

.navigation--mobile.is-menu-open {
  & .menu-icon__line:nth-child(odd) {
    width: 1.5rem;
  }

  & .menu-icon__line:nth-child(even) {
    width: 2rem;
  }

  & .menu__link {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  & .brand {
    transform: translate3d(0, -2rem, 0);
    opacity: 0;
  }
}

/* mobile "pause" button */
.pause-button {
  transform: rotate(270deg) translateX(-30vh);
  transform-origin: right bottom 0;
  letter-spacing: 0.5em;
  opacity: 0;
  transition: 0.3s opacity ease;
}
.pause-button.is-playing {
  opacity: 1;
}


/* mask in artists list */
.scroll-container {
  z-index: 10;
  /*mask-image: linear-gradient(transparent 0%, black 20%, black 80%, transparent 100%);*/
}

/* video test iframe */
.video-container {
  z-index: -10;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  pointer-events: none;

  & video {
    object-fit: cover;
    height: 140%;
    margin-top: -55%;
  }
}
@media (--breakpoint-not-small) {
  .video-container video {
    height: 160%;
    margin-top: -20%;
  }
}

video {
  opacity: 0;
  transition: .8s opacity ease;
}

video.is-playing {
  opacity: 1;
  transition: .8s opacity ease;
}

/* about */
.about-text {
  font-size: var(--fs-canela-mobile);
  line-height: 1.2;
}

.about-text > p {
  margin-bottom: 0; /* fix weird <p> elems generated from markdown */
}

.contact {
  font-size: var(--fs-work-mobile);
}

.contact::before {
  content: "";
  display: block;
  width: 64px;
  height: 1px;
  background: var(--white);
  margin-bottom: 64px;
}

@media (--breakpoint-not-small) {
    .about-text {
      font-size: var(--fs-canela-desktop);
      line-height: 1.2;
    }
    .contact::before {
      width: 80px;
      margin-bottom: 120px;
    }
}
