{{ partial "header" . }}

<div class="min-vh-100 flex flex-column flex-row-ns">

{{ partial "videobg-html5" . }}

{{ partial "menu-mobile" . }}

<div class="scroll-container flex-auto vh-100-ns overflow-hidden">

  <ul class="artists list tl mv0 pl4 pl6-ns vh-100-ns w-100 content-box overflow-scroll">

  {{ range where .Site.Pages "Section" "artist" }}
    {{ if eq .Params.Featured true }}
      <li class="artists__item--featured mb3 pointer" data-video="{{ .Params.Video }}">
        {{ .Title }}
      </li>
    {{ else if eq .Params.Featured false }}
      <li class="artists__item mb3 pointer" data-video="{{ .Params.Video }}">
        {{ .Title }}
      </li>
    {{ end }}
  {{ end }}

  </ul>

</div>

{{ partial "menu-desktop" . }}

</div>


{{ partial "footer" . }}
